<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="username" value=""/>
		<add key="password" value=""/>
		<add key="url" value="http://kq.neusoft.com"/>
		<add key="proxy-url" value=""/>
		<add key="proxy-username" value=""/>
		<add key="proxy-password" value=""/>
		<add key="Monday" value="true"/>
		<add key="Tuesday" value="true"/>
		<add key="Wednesday" value="true"/>
		<add key="Thursday" value="false"/>
		<add key="Friday" value="true"/>
		<add key="Saturday" value="false"/>
		<add key="Sunday" value="false"/>
		<add key="EmployeeNo" value="202109311762"/>
    <add key="BeginTime" value="7"/>
    <add key="EndTime" value="17"/>
    <add key="DelaySpan" value="50"/>
	</appSettings>
</configuration>